In [1]:
import string
import pandas as pd
import regex as re
from unicodedata import normalize
from pickle import load
from pickle import dump
from collections import Counter

In [2]:
# load doc into memory
def load_doc(filename):
	# open the file as read only
	file = open(filename, mode='rt', encoding='utf-8')
	# read all text
	text = file.read()
	# close the file
	file.close()
	return text

In [3]:
# split a loaded document into sentences
def to_sentences(doc):
	return doc.strip().split('\n')

In [4]:
# shortest and longest sentence lengths
def sentence_lengths(sentences):
	lengths = [len(s.split()) for s in sentences]
	return min(lengths), max(lengths)

In [5]:
# load doc into memory
def load_doc(filename):
	# open the file as read only
	file = open(filename, mode='rt', encoding='utf-8')
	# read all text
	text = file.read()
	# close the file
	file.close()
	return text

# split a loaded document into sentences
def to_sentences(doc):
	return doc.strip().split('\n')

# shortest and longest sentence lengths
def sentence_lengths(sentences):
	lengths = [len(s.split()) for s in sentences]
	return min(lengths), max(lengths)

In [6]:
# load 1st Arabic data
arabic_filename = 'data/Arab-Acquis/Arabic-Translations/test.en_ref.ar'
arabic_doc = load_doc(arabic_filename)
arabic_sentences = to_sentences(arabic_doc)
minlen1, maxlen1 = sentence_lengths(arabic_sentences)
print('Arabic data: sentences=%d, min=%d, max=%d' % (len(arabic_sentences), minlen1, maxlen1))

# load 1st English data
english_filename = 'data/Arab-Acquis/JRC-ACQUIS/ac-test.en'
english_doc = load_doc(english_filename)
english_sentences = to_sentences(english_doc)
minlen1, maxlen1 = sentence_lengths(english_sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(english_sentences), minlen1, maxlen1))

Arabic data: sentences=4107, min=1, max=246
English data: sentences=4107, min=1, max=269

In [7]:
arabic_sentences[0]

'مجلس الجماعة الاقتصادية الأوروبية'

In [8]:
english_sentences[0]

'THE COUNCIL OF THE EUROPEAN ECONOMIC COMMUNITY,'

In [9]:
import pandas as pd
df1 = pd.read_csv("data/arabic_english.txt",delimiter="\t",names=["eng","ar"])
df1

,eng,ar
0,Hi.,مرحبًا.
1,Run!,اركض!
2,Help!,النجدة!
3,Jump!,اقفز!
4,Stop!,قف!
...,...,...
24633,rising voices promoting a more linguistically ...,شاركنا تحدي ابداع ميم بلغتك الام تعزيزا للتنوع...
24634,following last year s successful campaign we i...,استكمالا لنجاح حملة العام السابق ندعوكم للمشار...
24635,during last year s challenge we also met langu...,تعرفنا خلال تحدي العام الماضي على ابطال لغويين...
24636,to take part just follow the simple steps outl...,للمشاركة في التحدي اتبع الخطوات الموضحة على ال...
24637,you will also find links to some free web base...,ستجد ايضا روابط لمجموعة من منصات ابداع الميم ا...

In [10]:
import pandas as pd
df2 = pd.DataFrame(list(zip(english_sentences,arabic_sentences)), columns=['eng','ar'])
df2

,eng,ar
0,"THE COUNCIL OF THE EUROPEAN ECONOMIC COMMUNITY,",مجلس الجماعة الاقتصادية الأوروبية
1,Whereas the adoption of a common transport pol...,حيث أن اعتماد سياسة نقل مشتركة تنطوي من بين أم...
2,Article 1,المادة 1
3,3. The types of carriage listed in Annex II sh...,3. لا تخضع أنواع النقل المدرجة في الملحق الثان...
4,Member States shall inform the Commission of t...,تبلغ الدول الأعضاء المفوضية الأوروبية بالتدابي...
...,...,...
4102,Having regard to the request made by Luxembour...,باعتبار الطلب الذي تقدمت به لوكسمبورغ في 25 تم...
4103,"(2) Such derogations should be granted, at the...",(2) يجب أن يتم منح هذه الاستثناءات إلى النمسا ...
4104,Article 1,المادة 1
4105,(b) France is granted derogations for the prod...,(ب) تمنح فرنسا الاستثناءات للحصول على النتائج ...
4106,"After expiry of the transitional period, Austr...",بعد انتهاء الفترة الانتقالية، تقوم النمسا وفرن...

In [11]:
# load 2nd Arabic data
arabic_filename2 = 'data/Arab-Acquis/Arabic-Translations/tune.en_ref.ar'
arabic_doc2 = load_doc(arabic_filename2)
arabic_sentences2 = to_sentences(arabic_doc2)
minlen2, maxlen2 = sentence_lengths(arabic_sentences2)
print('Arabic data: sentences=%d, min=%d, max=%d' % (len(arabic_sentences), minlen2, maxlen2))

# load 2nd English data
english_filename2 = 'data/Arab-Acquis/JRC-ACQUIS/ac-dev.en'
english_doc2 = load_doc(english_filename2)
english_sentences2 = to_sentences(english_doc2)
minlen2, maxlen2 = sentence_lengths(english_sentences2)
print('English data: sentences=%d, min=%d, max=%d' % (len(english_sentences), minlen2, maxlen2))

Arabic data: sentences=4107, min=1, max=235
English data: sentences=4107, min=1, max=289

In [12]:
import pandas as pd
df3 = pd.DataFrame(list(zip(english_sentences2,arabic_sentences2)), columns=['eng','ar'])
df3

,eng,ar
0,Having regard to the Treaty establishing the E...,مع الأخذ في الاعتبار المعاهدة التي أنشئت بموجب...
1,Whereas the progressive establishment of the c...,وحيث أنه لا يجب أن تواجه عملية الإنشاء التدريج...
2,"1. Each Member State shall, by the end of 1962...",1. يتعيّن على كلّ دولة عضو بحلول نهاية العام 1...
3,4. The two Annexes to this Directive shall for...,4 يشكّل الملحقان المرفقان بهذا التوجيه جزءاً ل...
4,Article 3,المادة 3
...,...,...
4102,Whereas:,حيث إن:
4103,(3) The measures provided for in this Regulati...,(3) تتوافق التدابير المنصوص عليها في هذه اللائ...
4104,1. The following derogations from the provisio...,1. تُمنح الاستثناءات التالية من أحكام اللائحة ...
4105,(c) Luxembourg is granted derogations for the ...,(ج) يتم منح لوكسمبورغ استثناءات لإنتاج النتائج...
4106,Article 2,المادة 2

In [13]:
data = pd.concat([df1, df2], ignore_index=True)
data

,eng,ar
0,Hi.,مرحبًا.
1,Run!,اركض!
2,Help!,النجدة!
3,Jump!,اقفز!
4,Stop!,قف!
...,...,...
28740,Having regard to the request made by Luxembour...,باعتبار الطلب الذي تقدمت به لوكسمبورغ في 25 تم...
28741,"(2) Such derogations should be granted, at the...",(2) يجب أن يتم منح هذه الاستثناءات إلى النمسا ...
28742,Article 1,المادة 1
28743,(b) France is granted derogations for the prod...,(ب) تمنح فرنسا الاستثناءات للحصول على النتائج ...
28744,"After expiry of the transitional period, Austr...",بعد انتهاء الفترة الانتقالية، تقوم النمسا وفرن...

In [14]:
final_dataset = pd.concat([data, df3], ignore_index=True)
final_dataset = final_dataset.reset_index(drop=True)

In [15]:
final_dataset.to_csv('data/data.txt')

In [16]:
df = pd.read_csv("data/data.txt")
df = df.drop(df.columns[0], axis=1)
df

,eng,ar
0,Hi.,مرحبًا.
1,Run!,اركض!
2,Help!,النجدة!
3,Jump!,اقفز!
4,Stop!,قف!
...,...,...
32847,Whereas:,حيث إن:
32848,(3) The measures provided for in this Regulati...,(3) تتوافق التدابير المنصوص عليها في هذه اللائ...
32849,1. The following derogations from the provisio...,1. تُمنح الاستثناءات التالية من أحكام اللائحة ...
32850,(c) Luxembourg is granted derogations for the ...,(ج) يتم منح لوكسمبورغ استثناءات لإنتاج النتائج...
32851,Article 2,المادة 2